{% extends "base.html" %}

{% block title %}
    Delete Article
{% endblock %}

{% block content %}

    <section class="form-container">

        <h1 class="page-title">
            Remove Article
        </h1>

        <p class="page-intro">
            Are you certain you wish to remove this story
            from the Chronicle?
        </p>

        <article class="article-card">

            <h2>
                {{ article.title }}
            </h2>

            <p>
                {{ article.content }}
            </p>

        </article>


        <form method="post">

            {% csrf_token %}

            <button
                type="submit"
                class="button-danger"
            >
                Delete Article
            </button>

        </form>


        <div class="woodland-divider"></div>


        <p>
            <a
                class="button button-secondary"
                href="{% url 'article_list' %}"
            >
                Keep Article
            </a>
        </p>

    </section>

{% endblock %}